- require 'rbbt/util/R'

- default_pvalue = 0.05
- default_vetting = :relaxed_degradation
- default_offsets = true
- default_synthesis = false
- default_use_ExTRI2_regulome = true
- default_method = :uml
- action_card = ActionCard.new do
  - input :pvalue_threshold, :float, "Threshold for decoupler p-value", default_pvalue
  - input :vetting, :select, "Vetting scheme", default_vetting, select_options: %w(none synthesis degradation relaxed_degradation) 
  - input :use_ExTRI2_regulome, :boolean, "Use ExTRI2 regulomer", default_use_ExTRI2_regulome
  - input :decoupler_method, :select, "Decoupler method to use", default_method, select_options: %w(ulm mlm combined)
  - input :offsets, :boolean, "Show only offsets", default_offsets

- pvalue_threshold = default_pvalue if pvalue_threshold.nil?
- pvalue_threshold = pvalue_threshold.to_f
- vetting = default_vetting if vetting.nil?
- offsets = default_offsets if offsets.nil?
- offsets = offsets.to_s != 'false'
- use_ExTRI2_regulome = default_use_ExTRI2_regulome if use_ExTRI2_regulome.nil?
- use_ExTRI2_regulome = use_ExTRI2_regulome.to_s != 'false'
- decoupler_method = nil if decoupler_method.to_s == 'ulm'
- cpus = decoupler_method.nil? ? 1 : 8
- page_options = {vetting: vetting, threshold: pvalue_threshold, ExTRI2_regulome: use_ExTRI2_regulome, method: decoupler_method}

- jobs = AGS::TREATMENTS.collect{|treatment| [AGS.job(:treatment_tfs_non_dynamic, page_options.merge(treatment: treatment)), AGS.job(:treatment_tfs_dynamic, page_options.merge(treatment: treatment)), AGS.job(:treatment_tfs_diff, page_options.merge(treatment: treatment))]}.flatten
-# jobs.delete_if(&:done?)
-# jobs.each(&:fork)
-# Step.wait_for_jobs jobs
- rules = {SaezLab: {decoupler: {resources: {cpus: cpus}}}}
- Workflow::Orchestrator.process(rules, jobs) if jobs.reject{|job| job.done? }.any?
-# require 'rbbt/hpc'
-# jobs.each do |job|
  - HPC::SLURM.orchestrate_job(job, {})
-# Step.wait_for_jobs jobs

= action_card_render action_card do

  - offsets_by_timepoint = nil
  - AGS::TREATMENTS.each do |treatment|
    - next if treatment == "DMSO"
    - tpfcf  = AGS.job(:treatment_tfs_dynamic, page_options.merge(treatment: treatment)).run
    - offsets_by_timepoint = offsets_by_timepoint.nil? ? tpfcf : offsets_by_timepoint.attach(tpfcf, complete: true)

  - ordered_fields = offsets_by_timepoint.fields.sort_by{|f| AGS::TREATMENTS.index(f.split("-").first) * 0.1  + f.match(/T(\d+)/)[1].to_i }
  - offsets_by_timepoint = offsets_by_timepoint.reorder :key, ordered_fields
  .figure
    .title
      Offsets by timepoint

    .content
      = resource "Offsets by timepoint", "Offsets by timepoint", :image do |filename|
        :ruby
          offsets_by_timepoint.R <<-EOF
            data[is.na(data)] = 0
            rbbt.require('gplots');
            colors = hcl.colors(256, 'Blue-Red')
            rbbt.heatmap('#{filename}', data, height='auto', margins = c(10,12), dendrogram='row', Colv=FALSE, trace='none', col = colors, density.info="none", keysize = 0.75)
          EOF

  - require 'rbbt/rest/common/tabs'
  = tabs do |tab|
    - tab.active "INT_PD_PI"
    - @step.progress_bar("Processing treatments", max: AGS::TREATMENTS.length) do |bar|
      - AGS::TREATMENTS.each do |treatment|
        - next if treatment == "DMSO"
        - tab.add treatment do
          - filename = "heatmap-#{treatment}.png"
          - text = "Heatmap for #{treatment}"

          - tpfc   = AGS.job(:treatment_tfs_non_dynamic, page_options.merge(treatment: treatment)).run
          - tpfcf  = AGS.job(:treatment_tfs_dynamic, page_options.merge(treatment: treatment)).run
          - tpfc0  = AGS.job(:treatment_tfs_diff, page_options.merge(treatment: treatment)).run

          - tpfc = tpfc.select{|k,l| l.select{|v| v.to_f != 0.0 }.any? }
          - tpfcf = tpfcf.select{|k,l| l.select{|v| v.to_f != 0.0 }.any? }
          - tpfc0 = tpfc0.select{|k,l| l.select{|v| v.to_f != 0.0 }.any? }

          - tpfc.fields = tpfc.fields.collect{|f| f + ' non-dynamic' } 
          - tpfcf.fields = tpfcf.fields.collect{|f| f + ' dynamic' }
          - tpfc0.fields = tpfc0.fields.collect{|f| f + ' diff' }

          - data = tpfcf.attach tpfc, complete: true
          - data = data.attach tpfc0, complete: true

          -# Show only offsets
          - gene_pos_offsets = {}
          - gene_neg_offsets = {}
          - data.through do |gene,values|
            - prev = 0
            - values.each_with_index do |v,i|
              - v = v.to_f
              - if ! v.nil?
                - if v > 0 && prev <= 0
                  - gene_pos_offsets[gene] ||= []
                  - gene_pos_offsets[gene] << i
                - if v < 0 && prev >= 0
                  - gene_neg_offsets[gene] ||= []
                  - gene_neg_offsets[gene] << i
              - if offsets
                - prev = (i + 1) % 5 == 0 ? 0 : v.to_f

          - {:positive => gene_pos_offsets,
            :negative => gene_neg_offsets}.each do |name,info|

            - tsv = TSV.setup({}, :key_field => "Method", :fields => AGS::TIME_POINTS.collect{|t| "T#{t}" }, :type => :double)
            - info.each do |gene, offsets|
              - conditions = data.fields.values_at *offsets
              - conditions.each do |condition|
                - treatment, time, condition_method = condition.match(/(.*)-T(.*?) (.*)/).captures
                - values = tsv[condition_method] ||= [[], [], [], [], []]
                - values[AGS::TIME_POINTS.index(time.to_i)] << gene
                - tsv[condition_method] = values

            - tsv["only dynamic"] = AGS::TIME_POINTS.collect{|t| t = "T#{t}"; tsv["dynamic"][t] - tsv["non-dynamic"][t] - tsv["diff"][t] }
            - tsv["only non-dynamic"] = AGS::TIME_POINTS.collect{|t| t = "T#{t}"; tsv["non-dynamic"][t] - tsv["dynamic"][t] - tsv["diff"][t] }
            - tsv["only diff"] = AGS::TIME_POINTS.collect{|t| t = "T#{t}"; tsv["diff"][t] - tsv["non-dynamic"][t] - tsv["dynamic"][t] }
            - tsv["diff & non-dynamic"] = AGS::TIME_POINTS.collect{|t| t = "T#{t}"; tsv["diff"][t] & tsv["non-dynamic"][t] }
            - tsv["in any methods"] = AGS::TIME_POINTS.collect{|t| t = "T#{t}"; (tsv["diff"][t] + tsv["non-dynamic"][t] + tsv["dynamic"][t]).uniq  }
            - tsv["in all methods"] = AGS::TIME_POINTS.collect{|t| t = "T#{t}"; tsv["diff"][t] & tsv["non-dynamic"][t] & tsv["dynamic"][t]  }
              
            - AGS::TIME_POINTS.collect{|t| "T#{t}" }.each do |field|
              - header field, "Associated Gene Name"
            - if offsets
              - table_id = "#{name} offset TFs for #{treatment} pvalue #{pvalue_threshold} vetting #{vetting}"
            - else
              - table_id = "#{name} TFs for #{treatment} pvalue #{pvalue_threshold} vetting #{vetting}"

            = table :list_links => true, :table_id => table_id do
              - next tsv

          .figure
            .title
              = text
              - if data.size > 2
                = resource filename.sub('png','xlsx'), 'Excel', :link do |filename|
                  - data.xlsx filename

            .content
              - if data.size > 2
                = resource filename, text, :image do |filename|
                  :ruby
                    data.R <<-EOF
                      data[is.na(data)] = 0
                      rbbt.require('gplots');
                      colors = hcl.colors(256, 'Blue-Red')
                      rbbt.heatmap('#{filename}', data, height='auto', margins = c(10,12), dendrogram='row', Colv=FALSE, trace='none', col = colors, density.info="none", keysize = 0.75)
                    EOF
              
          - bar.tick

